{{! WIDGET }}
<div class="mantanization-widget-menu">
    <div class="mantanization-widget-menu-title">
        <div class="left">Follow me</div>
        <div class="right"><a href="#"><i class="fa fa-bars"></i></a></div>
        <div class="clearfix"></div>
    </div>
    <div class="mantanization-widget-menu-content">
        <div class="mantanization-widget-socialmedia">
            <ul>
                {{> socialmedia}}
				<li><a href="{{@blog.url}}/rss/"><i class="fa fa-rss"></i></a></li>
            </ul>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
{{! WIDGET }}


{{! WIDGET }}
<div class="mantanization-widget-menu">
    <div class="mantanization-widget-menu-title">
        <div class="left">Recent Posts</div>
        <div class="right"><a href="#"><i class="fa fa-bars"></i></a></div>
        <div class="clearfix"></div>
    </div>
    <div class="mantanization-widget-menu-content">
        <div id="mantanization-widget-recent-posts-wrapper"></div>
    </div>
</div>
{{! WIDGET }}


{{! WIDGET }}
<div class="mantanization-widget-menu">
    <div class="mantanization-widget-menu-title">
        <div class="left">Flickr Stream</div>
        <div class="right"><a href="#"><i class="fa fa-bars"></i></a></div>
        <div class="clearfix"></div>
    </div>
    <div class="mantanization-widget-menu-content">
        <ul id="flickr"></ul>
        <div class="clearfix"></div>
    </div>
</div>
{{! WIDGET }}


{{! WIDGET }}
<div class="mantanization-widget-menu">
    <div class="mantanization-widget-menu-title">
        <div class="left">Facebook Page</div>
        <div class="right"><a href="#"><i class="fa fa-bars"></i></a></div>
        <div class="clearfix"></div>
    </div>
    <div class="mantanization-widget-menu-content"><div id="mantanization-facebook-page"></div></div>
</div>
{{! WIDGET }}


{{! WIDGET }}
<div class="mantanization-widget-menu">
    <div class="mantanization-widget-menu-title">
        <div class="left">Twitter Feed</div>
        <div class="right"><a href="#"><i class="fa fa-bars"></i></a></div>
        <div class="clearfix"></div>
    </div>
    <div class="mantanization-widget-menu-content"><div id="mantanization-wdiget-twitter"></div></div>
</div>
{{! WIDGET }}


{{! WIDGET }}
<div class="mantanization-widget-menu">
    <div class="mantanization-widget-menu-title">
        <div class="left">Google+ Badge</div>
        <div class="right"><a href="#"><i class="fa fa-bars"></i></a></div>
        <div class="clearfix"></div>
    </div>
    <div class="mantanization-widget-menu-content"><div class="g-page-wrapper"></div></div>
</div>
{{! WIDGET }}


{{! WIDGET }}
<div class="mantanization-widget-menu">
    <div class="mantanization-widget-menu-title">
        <div class="left">Static Page</div>
        <div class="right"><a href="#"><i class="fa fa-bars"></i></a></div>
        <div class="clearfix"></div>
    </div>
    <div class="mantanization-widget-menu-content">
        <div class="extra-widget">
            <ul>
				<li><a href="http://mantanization-rdghoster.rhcloud.com/about-me">About Me</a></li>
				<li><a href="#">My Stuff</a></li>
				<li><a href="#">Contact</a></li>
			</li>
        </div>
    </div>
</div>
{{! WIDGET }}


{{! WIDGET }}
<div class="mantanization-widget-menu">
    <div class="mantanization-widget-menu-title">
        <div class="left">Extra Widget</div>
        <div class="right"><a href="#"><i class="fa fa-bars"></i></a></div>
        <div class="clearfix"></div>
    </div>
    <div class="mantanization-widget-menu-content">
        <div class="extra-widget">
            <!-- You can put HTML Code Here -->
            Aliquam eget arcu nec nisl <em>imperdiet</em> semper mollis sit amet tortor. 
            Ut ultrices pharetra urna id cursus. 
            <a href="#">Aenean</a> ligula dolor, mollis id eros id, 
            hendrerit malesuada nisi.
        </div>
    </div>
</div>
{{! WIDGET }}